src/florestas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="florestas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tipo_floresta" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="imagem"/>
                    <xs:element type="xs:string" name="nome"/>
                    <xs:element type="xs:string" name="descricao"/>
                    <xs:element type="xs:string" name="localizacao_geografica" minOccurs="0"/>
                    <xs:element type="xs:string" name="clima" minOccurs="0"/>
                    <xs:element type="xs:string" name="flora" minOccurs="0"/>
                    <xs:element type="xs:string" name="fauna" minOccurs="0"/>
                    <xs:element type="xs:string" name="tipos_floresta_temperada" minOccurs="0"/>
                    <xs:element name="sub_tipos" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sub_tipo" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="nome"/>
                                <xs:element type="xs:string" name="descricao"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>